# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django specific
*.log
db.sqlite3

# Virtual environments
.venv/
env/
venv/

# Migrations
*/migrations/__pycache__/


#Dummy Data
fixtures/
token.json
.env